<!--*******************
      Preloader start
  ********************-->
<!-- <div id="preloader" style="display: none;">
      <div class="sk-three-bounce">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
      </div>
  </div> -->
<!--*******************
      Preloader end
  ********************-->

<!--**********************************
      Main wrapper start
  ***********************************-->
<div id="main-wrapper" class="show">
  <!--**********************************
              Nav header start
          ***********************************-->

  <!--**********************************
              Nav header end
          ***********************************-->

  <!--**********************************
              Chat box start
          ***********************************-->

  <!--**********************************
              Chat box End
          ***********************************-->

  <!--**********************************
              Header start
          ***********************************-->

  <!--**********************************
              Header end ti-comment-alt
          ***********************************-->

  <!--**********************************
              Sidebar start
          ***********************************-->

  <!--**********************************
              Sidebar end
          ***********************************-->

  <!--**********************************
              Content body start
          ***********************************-->
  <div class="content-body" style="min-height: 780px">
    <div class="card-body">
      <div class="table-responsive">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Create Place !</h1>
          </div>
          <form [formGroup]="plForm" class="user">
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input
                  type="text"
                  class="form-control form-control-user"
                  placeholder="Name"
                  formControlName="name"
                />
              </div>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control form-control-user"
                  placeholder="Description"
                  formControlName="description"
                />
              </div>
            </div>

            <div class="form-group row"></div>
            <hr />

            <button
              class="btn btn-primary btn-user btn-block"
              (click)="onSubmit()"
            >
              Create Place
            </button>
            <button
              class="btn btn-primary btn-user btn-block"
              type="reset"
              (click)="onReset()"
            >
              Cancel
            </button>
          </form>
          <hr />
        </div>
        <table class="table table-responsive-md">
          <thead>
            <tr>
              <th class="width50"></th>
              <th>ROLL NO.</th>
              <th>NAME</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of listplaces; let index = index">
              <td>
                <div
                  class="custom-control custom-checkbox checkbox-success check-lg mr-3"
                ></div>
              </td>
              <td>
                <strong>{{ index + +1 }}</strong>
              </td>
              <td>
                <div class="d-flex align-items-center">
                 <!--  <img
                    src="assets/images/avatar/1.jpg"
                    class="rounded-lg mr-2"
                    width="24"
                    alt=""
                  /> -->
                  <span class="w-space-no">{{ i.name }}</span>
                </div>
              </td>

              <td>
                <div class="d-flex">
                  <a
                    (click)="open(content, i)"
                    class="btn btn-primary shadow btn-xs sharp mr-1"
                    ><i class="fa fa-pencil"></i
                  ></a>
                  <a
                    (click)="deleteplaces(i._id)"
                    class="btn btn-danger shadow btn-xs sharp"
                    ><i class="fa fa-trash"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- row -->
  </div>
  <!--**********************************
              Content body end
          ***********************************-->

  <!--**********************************
              Footer start
          ***********************************-->

  <!--**********************************
              Footer end
          ***********************************-->

  <!--**********************************
             Support ticket button start
          ***********************************-->

  <!--**********************************
             Support ticket button end
          ***********************************-->
</div>
<!--**********************************
          Main wrapper end
      ***********************************-->

<!--**********************************
          Scripts
      ***********************************-->
<!-- Required vendors -->

<!-- Mirrored from qerza.dexignzone.com/xhtml/companies.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Mar 2022 09:25:06 GMT -->

<!-- partie update -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- ajouter la formgoupre decalare au niveau .ts -->
    <form [formGroup]="placesForm">
      <div class="form-group col-5">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control" />
      </div>

      <div class="form-group col-5">
        <label>Description</label>
        <input type="text" formControlName="description" class="form-control" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click'); updateplaces()"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
     -->
<hr />

<pre>{{ closeResult }}</pre>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!! -->
