<body
  class="h-100"
  data-typography="poppins"
  data-theme-version="light"
  data-layout="vertical"
  data-nav-headerbg="color_1"
  data-headerbg="color_1"
  data-sidebar-style="mini"
  data-sibebarbg="color_1"
  data-sidebar-position="fixed"
  data-header-position="fixed"
  data-container="wide"
  direction="ltr"
  data-primary="color_1"
>
  <div class="authincation h-100">
    <div class="container h-100">
      <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-6">
          <div class="authincation-content">
            <div class="row no-gutters">
              <div class="col-xl-12">
                <div class="auth-form">
                  <div class="text-center mb-3">
                    <a href="index.html"
                      ><img src="assets/images/logo-full.png" alt=""
                    /></a>
                  </div>
                  <h4 class="text-center mb-4 text-white">
                    Sign up your account
                  </h4>
                  <form
                    action="https://qerza.dexignzone.com/xhtml/index.html"
                    [formGroup]="registerForm"
                  >
                    <div class="form-group">
                      <label class="mb-1 text-white"
                        ><strong>Username</strong></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="username"
                        formControlName="firstname"
                      />
                    </div>
                    <div class="form-group">
                      <label class="mb-1 text-white"
                        ><strong>Email</strong></label
                      >
                      <input
                        type="email"
                        class="form-control"
                        placeholder="hello@example.com"
                        formControlName="email"
                      />
                    </div>
                    <div class="form-group">
                      <label class="mb-1 text-white"
                        ><strong>Password</strong></label
                      >
                      <input
                        type="password"
                        class="form-control"
                        value="Password"
                        formControlName="password"
                      />
                    </div>
                    <div class="text-center mt-4">
                      <button
                        type="submit"
                        class="btn bg-white text-primary btn-block"
                        (click)="onSubmit()"
                      >
                        Sign me up
                      </button>
                    </div>
                  </form>
                  <div class="new-account mt-3">
                    <p class="text-white">
                      Already have an account?
                      <a class="text-white" routerLink="/">Sign in</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--**********************************
	Scripts
***********************************-->
  <!-- Required vendors -->

  <!-- Mirrored from qerza.dexignzone.com/xhtml/page-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Mar 2022 09:25:52 GMT -->
</body>
