<html lang="en" class="h-100" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Qerza - Job Portal Bootstrap Admin Dashboard</title>
    <!-- Favicon icon -->
  </head>

  <body
    class="h-100"
    data-typography="poppins"
    data-theme-version="light"
    data-layout="vertical"
    data-nav-headerbg="color_1"
    data-headerbg="color_1"
    data-sidebar-style="full"
    data-sibebarbg="color_1"
    data-sidebar-position="fixed"
    data-header-position="fixed"
    data-container="wide"
    direction="ltr"
    data-primary="color_1"
  >
    <div class="authincation h-100">
      <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
          <div class="col-md-6">
            <div class="authincation-content">
              <div class="row no-gutters">
                <div class="col-xl-12">
                  <div class="auth-form">
                    <div class="text-center mb-3">
                      <a href="index.html"
                        ><img src="images/logo-full.png" alt=""
                      /></a>
                    </div>
                    <h4 class="text-center mb-4 text-white">Forgot Password</h4>
                    <form  [formGroup]="ForgetForm" action="index.html">
                      <div class="form-group">
                        <label class="text-white"><strong>Email</strong></label>
                        <input
                          type="email"
                          class="form-control"
                          formControlName="email"
                          value="hello@example.com"
                        />
                      </div>
                      <div class="text-center">
                        <button
                        (click)="Forgetpassword()"
                          type="submit"
                          class="btn bg-white text-primary btn-block"
                        >
                          SUBMIT
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
  </body>
</html>
