<body
  class="h-100"
  data-typography="poppins"
  data-theme-version="light"
  data-layout="vertical"
  data-nav-headerbg="color_1"
  data-headerbg="color_1"
  data-sidebar-style="mini"
  data-sibebarbg="color_1"
  data-sidebar-position="fixed"
  data-header-position="fixed"
  data-container="wide"
  direction="ltr"
  data-primary="color_1"
>
  <div class="authincation h-100">
    <div class="container h-100">
      <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-6">
          <div class="authincation-content">
            <div class="row no-gutters">
              <div class="col-xl-12">
                <div class="auth-form">
                  <div class="text-center mb-3">
                    <a href="index.html"
                      ><img src="assets/images/jobgate.png" alt=""
                    /></a>
                  </div>
                  <h4 class="text-center mb-4 text-white">
                    Sign in your account
                  </h4>
                  <form
                    action="https://qerza.dexignzone.com/xhtml/index.html"
                    [formGroup]="loginForm"
                  >
                    <div class="form-group">
                      <label class="mb-1 text-white"
                        ><strong>Email</strong></label
                      >
                      <input
                        type="email"
                        class="form-control"
                        value="hello@example.com"
                        formControlName="email"
                      />
                    </div>
                    <div class="form-group">
                      <label class="mb-1 text-white"
                        ><strong>Password</strong></label
                      >
                      <input
                        type="password"
                        class="form-control"
                        value="Password"
                        formControlName="password"
                      />
                    </div>
                    <div
                      class="form-row d-flex justify-content-between mt-4 mb-2"
                    >
                      <div class="form-group">
                        <div
                          class="custom-control custom-checkbox ml-1 text-white"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="basic_checkbox_1"
                          />
                          <label
                            class="custom-control-label"
                            for="basic_checkbox_1"
                            >Remember my preference</label
                          >
                        </div>
                      </div>
                      <div class="form-group">
                        <a class="text-white" routerLink="/forgotpassword"
                          >Forgot Password?</a
                        >
                      </div>
                    </div>
                    <div class="text-center">
                      <button
                        type="submit"
                        class="btn bg-white text-primary btn-block"
                        (click)="login()"
                      >
                        Sign Me In
                      </button>
                    </div>
                  </form>
                  <div class="new-account mt-3">
                    <p class="text-white">
                      Don't have an account?
                      <a class="text-white" routerLink="/register">Sign up</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--**********************************
        Scripts
    ***********************************-->
  <!-- Required vendors -->

  <!-- Mirrored from qerza.dexignzone.com/xhtml/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Mar 2022 09:25:05 GMT -->
</body>
