<!--*******************
      Preloader start
  ********************-->
<!-- <div id="preloader" style="display: none;">
      <div class="sk-three-bounce">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
      </div>
  </div> -->
<!--*******************
      Preloader end
  ********************-->

<!--**********************************
      Main wrapper start
  ***********************************-->
<div id="main-wrapper" class="show">
  <!--**********************************
            Nav header start
        ***********************************-->

  <!--**********************************
            Nav header end
        ***********************************-->

  <!--**********************************
            Chat box start
        ***********************************-->

  <!--**********************************
            Chat box End
        ***********************************-->

  <!--**********************************
            Header start
        ***********************************-->

  <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

  <!--**********************************
            Sidebar start
        ***********************************-->

  <!--**********************************
            Sidebar end
        ***********************************-->

  <!--**********************************
            Content body start
        ***********************************-->
  <div class="content-body" style="min-height: 780px">
    <!-- row -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-9 col-xxl-8">
          <div class="row sp-sm-15">
            <div class="col-xl-12">
              <div
                class="d-flex flex-wrap search-job search-job-xl bg-white rounded py-3 px-md-3 px-0 mb-4 align-items-center"
              >
                <div
                  class="col-xl-3 col-xxl-12 col-lg-3 search-dropdown aroundYou"
                >
                  <div class="dropdown mb-0 custom-dropdown d-block">
                    <div
                      class="btn d-flex align-items-center rounded-0 svg-btn px-0"
                      role="button"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <svg
                        class="min-w20"
                        width="20"
                        height="24"
                        viewBox="0 0 20 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M10 0C4.93398 0 0.8125 4.12148 0.8125 9.1875C0.8125 10.8091 1.24094 12.4034 2.05145 13.7979C2.24041 14.123 2.45162 14.4398 2.67934 14.7396L9.60081 24H10.3991L17.3207 14.7397C17.5483 14.4398 17.7595 14.1231 17.9485 13.7979C18.7591 12.4034 19.1875 10.8091 19.1875 9.1875C19.1875 4.12148 15.066 0 10 0ZM10 12.2344C8.31995 12.2344 6.95312 10.8675 6.95312 9.1875C6.95312 7.50745 8.31995 6.14062 10 6.14062C11.68 6.14062 13.0469 7.50745 13.0469 9.1875C13.0469 10.8675 11.68 12.2344 10 12.2344Z"
                          fill="#8743DF"
                        ></path>
                      </svg>
                      <div class="text-left ml-3">
                        <span class="d-block fs-16 text-black">Around You</span>
                      </div>
                      <i class="fa fa-angle-down scale5 ml-auto"></i>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="javascript:void(0);"
                        >4 June 2020 - 4 July 2020</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >5 july 2020 - 4 Aug 2020</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-xl-9 col-xxl-12 col-lg-9 d-flex flex-wrap">
                  <input
                    class="form-control input-rounded mr-auto mb-2 mb-md-0"
                    type="text"
                    [(ngModel)]="searchname"
                    name=""
                    id=""
                    class="form-control"
                    area-describedby="helpId"
                    placeholder="search.."
                    placeholder="Search by Title"
                  />
                  <a
                    href="javascript:void(0);"
                    class="btn rounded btn-danger light mr-3 mb-0 mb-md-0 mb-sm-2"
                  >
                    <svg
                      class="mr-3"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 4H12C12 4.53043 12.2107 5.03914 12.5858 5.41421C12.9609 5.78929 13.4696 6 14 6H16C16.5304 6 17.0391 5.78929 17.4142 5.41421C17.7893 5.03914 18 4.53043 18 4H19C19.2652 4 19.5196 3.89464 19.7071 3.70711C19.8946 3.51957 20 3.26522 20 3C20 2.73478 19.8946 2.48043 19.7071 2.29289C19.5196 2.10536 19.2652 2 19 2H18C18 1.46957 17.7893 0.960859 17.4142 0.585786C17.0391 0.210714 16.5304 0 16 0H14C13.4696 0 12.9609 0.210714 12.5858 0.585786C12.2107 0.960859 12 1.46957 12 2H1C0.734784 2 0.48043 2.10536 0.292893 2.29289C0.105357 2.48043 0 2.73478 0 3C0 3.26522 0.105357 3.51957 0.292893 3.70711C0.48043 3.89464 0.734784 4 1 4ZM14 2H16V3V4H14V2ZM19 9H10C10 8.46957 9.78929 7.96086 9.41421 7.58579C9.03914 7.21071 8.53043 7 8 7H6C5.46957 7 4.96086 7.21071 4.58579 7.58579C4.21071 7.96086 4 8.46957 4 9H1C0.734784 9 0.48043 9.10536 0.292893 9.29289C0.105357 9.48043 0 9.73478 0 10C0 10.2652 0.105357 10.5196 0.292893 10.7071C0.48043 10.8946 0.734784 11 1 11H4C4 11.5304 4.21071 12.0391 4.58579 12.4142C4.96086 12.7893 5.46957 13 6 13H8C8.53043 13 9.03914 12.7893 9.41421 12.4142C9.78929 12.0391 10 11.5304 10 11H19C19.2652 11 19.5196 10.8946 19.7071 10.7071C19.8946 10.5196 20 10.2652 20 10C20 9.73478 19.8946 9.48043 19.7071 9.29289C19.5196 9.10536 19.2652 9 19 9ZM6 11V9H8V10V11H6ZM19 16H16C16 15.4696 15.7893 14.9609 15.4142 14.5858C15.0391 14.2107 14.5304 14 14 14H12C11.4696 14 10.9609 14.2107 10.5858 14.5858C10.2107 14.9609 10 15.4696 10 16H1C0.734784 16 0.48043 16.1054 0.292893 16.2929C0.105357 16.4804 0 16.7348 0 17C0 17.2652 0.105357 17.5196 0.292893 17.7071C0.48043 17.8946 0.734784 18 1 18H10C10 18.5304 10.2107 19.0391 10.5858 19.4142C10.9609 19.7893 11.4696 20 12 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18H19C19.2652 18 19.5196 17.8946 19.7071 17.7071C19.8946 17.5196 20 17.2652 20 17C20 16.7348 19.8946 16.4804 19.7071 16.2929C19.5196 16.1054 19.2652 16 19 16ZM12 18V16H14V17V18H12Z"
                        fill="#F94687"
                      ></path>
                    </svg>
                    FILTER</a
                  >
                  <a
                    href="javascript:void(0);"
                    class="btn btn-primary rounded mb-0 mb-md-0 mb-sm-2"
                    ><i class="las la-search scale5 mr-3"></i>FIND</a
                  >
                </div>
              </div>
              <div
                class="d-flex mb-4 border-bottom flex-wrap align-items-center"
              >
                <div class="d-flex pb-3 flex-wrap align-items-center mr-auto">
                  <span class="mr-4 mb-2">Quick Filter</span>

                  <input
                    type="radio"
                    value="Freelance"
                    (change)="OnChangeType($event)"
                  />
                  <label
                    class="btn btn-secondary light btn-rounded mr-2 mb-2"
                    for="cs-CDI"
                    >Freelance</label
                  >
                  <input
                    type="radio"
                    value="CDD"
                    (change)="OnChangeType($event)"
                  />
                  <label
                    class="btn btn-secondary light btn-rounded mr-2 mb-2"
                    for="cs-CDI"
                    >CDD</label
                  >
                  <input
                    type="radio"
                    value="CDI"
                    (change)="OnChangeType($event)"
                  />
                  <label
                    class="btn btn-secondary light btn-rounded mr-2 mb-2"
                    for="cs-CDI"
                    >CDI</label
                  >
                </div>
              </div>
              <div class="d-flex flex-wrap align-items-center mb-4">
                <div class="mr-auto mb-2 pr-2">
                  <h6 class="text-black fs-16 font-w600 mb-1">
                    Showing {{ nbroffre }} Jobs Results
                  </h6>
                </div>
              </div>
            </div>
            <div
              class="col-xl-3 col-xxl-4 col-lg-4 col-6"
              *ngFor="
                let i of listoffre | recherchejob: searchname;
                let index = index
              "
            >
              <div class="card text-center">
                <img
                  src="http://localhost:3000/getfile/{{
                    i?.entreprise?.picture
                  }}"
                />
                <div class="card-body">
                  <h6 class="font-w600 fs-16 mb-1">
                    <a
                      type="button"
                      (click)="getoneoffre(i._id)"
                      class="text-black"
                    >
                      {{ i?.titre }}</a
                    >
                  </h6>
                  <span class="fs-14"> {{ i?.type }} </span>
                  <h2 class="fs-14">Confirmed : {{ i?.confirmed }}</h2>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteoffre(i._id)"
                  >
                    Remove
                    <span class="btn-icon-right"
                      ><i class="fa fa-close"></i
                    ></span>
                  </button>
                  <p></p>

                  <button
                    type="button"
                    (click)="confirmoffre(i._id, i)"
                    class="btn btn-success"
                    *ngIf="!i.confirmed"
                  >
                    Confirm
                    <span class="btn-icon-right"
                      ><i class="fa fa-check"></i
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xxl-4">
          <div class="row">
            <div class="col-xl-12">
              <div class="card d-sm-flex flex-xl-column flex-md-row">
                <div
                  class="card-body border-bottom text-center col-xl-12 col-md-6"
                >
                  <img
                    src="http://localhost:3000/getfile/{{
                      byid?.entreprise?.picture
                    }}"
                  />

                  <h4 class="fs-22 text-black font-w600 mb-1">
                    {{ byid?.titre }}
                  </h4>
                  <p>{{ byid?.type }}</p>
                  <a
                    href="javascript:void(0);"
                    class="btn btn-outline-primary d-block rounded"
                    >{{ byid?.entreprise?.firstname }}</a
                  >
                  <div class="row mt-5">
                    <div class="col-xl-12">
                      <div class="media">
                        <svg
                          class="mr-3 min-w46"
                          width="46"
                          height="46"
                          viewBox="0 0 46 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            width="46"
                            height="46"
                            rx="14"
                            fill="#ECECEC"
                          ></rect>
                          <path
                            d="M23 15C19.6227 15 16.875 17.7477 16.875 21.125C16.875 22.2061 17.1606 23.2689 17.701 24.1986C17.8269 24.4153 17.9677 24.6266 18.1196 24.8264L22.7339 31H23.2661L27.8804 24.8264C28.0322 24.6266 28.173 24.4154 28.299 24.1986C28.8394 23.2689 29.125 22.2061 29.125 21.125C29.125 17.7477 26.3773 15 23 15ZM23 23.1562C21.88 23.1562 20.9688 22.245 20.9688 21.125C20.9688 20.005 21.88 19.0938 23 19.0938C24.12 19.0938 25.0312 20.005 25.0312 21.125C25.0312 22.245 24.12 23.1562 23 23.1562Z"
                            fill="#808080"
                          ></path>
                        </svg>
                        <div class="media-body text-left">
                          <h4 class="fs-18 text-black font-w600 mb-0">
                            {{ byid?.entreprise?.place?.name }}
                          </h4>
                          <span class="fs-14">Location</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body col-xl-12 col-md-6 border-left">
                  <h6 class="fs-16 text-black font-w600 mb-4">About Job</h6>
                  <p class="fs-14">
                    {{ byid?.description }}
                  </p>
                  <p class="fs-14"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********************************
            Content body end
        ***********************************-->

  <!--**********************************
            Footer start
        ***********************************-->

  <!--**********************************
            Footer end
        ***********************************-->

  <!--**********************************
           Support ticket button start
        ***********************************-->

  <!--**********************************
           Support ticket button end
        ***********************************-->
</div>
<!--**********************************
        Main wrapper end
    ***********************************-->

<!--**********************************
        Scripts
    ***********************************-->
<!-- Required vendors -->

<!-- Mirrored from qerza.dexignzone.com/xhtml/companies.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Mar 2022 09:25:06 GMT -->
