<!--**********************************
          Sidebar start
      ***********************************-->

<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
      <li>
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-networking"></i>
          <span class="nav-text">Dashboard</span>
        </a>
        <ul aria-expanded="false">
          <li><a routerLink="/home/offre">Search Job</a></li>
          <li><a routerLink="/home/speciality">Speciality</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a routerLink="/home/places">Places</a></li>
          <li><a routerLink="/home/entreprises">Companies</a></li>
          <li><a routerLink="/home/candidat">Candidat</a></li>
        </ul>
      </li>
      <li>
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-television"></i>
          <span class="nav-text">Apps</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="app-profile.html">Profile</a></li>
          <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false"
              >Email</a
            >
            <ul aria-expanded="false">
              <li><a href="email-compose.html">Compose</a></li>
              <li><a href="email-inbox.html">Inbox</a></li>
              <li><a href="email-read.html">Read</a></li>
            </ul>
          </li>
          <li><a href="app-calender.html">Calendar</a></li>
          <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false"
              >Shop</a
            >
            <ul aria-expanded="false">
              <li><a href="ecom-product-grid.html">Product Grid</a></li>
              <li><a href="ecom-product-list.html">Product List</a></li>
              <li>
                <a href="ecom-product-detail.html">Product Details</a>
              </li>
              <li><a href="ecom-product-order.html">Order</a></li>
              <li><a href="ecom-checkout.html">Checkout</a></li>
              <li><a href="ecom-invoice.html">Invoice</a></li>
              <li><a href="ecom-customers.html">Customers</a></li>
            </ul>
          </li>
        </ul>
      </li>
     
      

      <li>
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-layer-1"></i>
          <span class="nav-text">Pages</span>
        </a>
        <ul aria-expanded="false">
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/">Login</a></li>
          <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false"
              >Error</a
            >
            <ul aria-expanded="false">
              <li><a href="assets/page-error-400.html">Error 400</a></li>
              <li><a href="assets/page-error-403.html">Error 403</a></li>
              <li><a href="assets/page-error-404.html">Error 404</a></li>
              <li><a href="assets/page-error-500.html">Error 500</a></li>
              <li><a href="assets/page-error-503.html">Error 503</a></li>
            </ul>
          </li>
          <li><a href="page-lock-screen.html">Lock Screen</a></li>
        </ul>
      </li>
    </ul>

    <div class="copyright">
      <p>
        <strong>Job Gate Admin Dashboard</strong> © 2022 All Rights Reserved
      </p>
      <p>Made with <span class="heart"></span> by Saher</p>
    </div>
  </div>
</div>
<!--**********************************
            Sidebar end
        ***********************************-->
